@CHARSET "ISO-8859-1";




#footer
{
	position: fixed;
bottom: 0px;
width: 100%;
background: #C0C0C0 none repeat scroll 0% 0%;
margin: 0px auto;
}

.welcome {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	/* border-radius: 6px;
	background-color: #DDFFDD;
	border: 1px solid #009900; */
	margin: 0 auto;
	text-align: center;
	padding-top: 3px;
	height: 25px;
}


input[type="submit"],[type="reset"],[type="button"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #8E9194;
	-webkit-box-shadow: inset 0px 1px 0px 0px #8E9194;
	box-shadow: inset 0px 1px 0px 0px #556367;
	background: rgb(82,85,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(82,85,88) 0%, rgb(145,147,149) 64%, rgb(180,181,184) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(82,85,88)), color-stop(64%,rgb(145,147,149)), color-stop(100%,rgb(180,181,184))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(82,85,88) 0%,rgb(145,147,149) 64%,rgb(180,181,184) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(82,85,88) 0%,rgb(145,147,149) 64%,rgb(180,181,184) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(82,85,88) 0%,rgb(145,147,149) 64%,rgb(180,181,184) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(82,85,88) 0%,rgb(145,147,149) 64%,rgb(180,181,184) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525558', endColorstr='#b4b5b8',GradientType=0 ); /* IE6-9 */

	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #556367;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 14px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
	margin: 0px 5px;
}

input[type="submit"]:hover,[type="reset"]:hover{
	background: rgb(180,181,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(180,181,184) 0%, rgb(145,147,149) 36%, rgb(82,85,88) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(180,181,184)), color-stop(36%,rgb(145,147,149)), color-stop(100%,rgb(82,85,88))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(180,181,184) 0%,rgb(145,147,149) 36%,rgb(82,85,88) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(180,181,184) 0%,rgb(145,147,149) 36%,rgb(82,85,88) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(180,181,184) 0%,rgb(145,147,149) 36%,rgb(82,85,88) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(180,181,184) 0%,rgb(145,147,149) 36%,rgb(82,85,88) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b5b8', endColorstr='#525558',GradientType=0 ); /* IE6-9 */


	background-color:#8E9194;
}







/* 
td
{
	min-width: 100px;
} */



#main
{
	
	
	background-color: #F8F8F8;
	height: auto;
	/* border:1px groove; */
	width: 100%;
	min-width: 500px;
}

#header
{
	height: 40px;
	width: 100%;
 /* color: white;
	z-index:1000px; */
	/* background-color:black; */
	/* background-color:#00CCFF; */
	/* background-image: url("images/topbanner_bg.jpg");
	url("images/topbanner_bg.jpg")
	 */
	background-image: url('../images/topbanner_bg.jpg');
    background-position: center;
	margin: 0px auto;
	
	
}
#logo
{
	float:left;
	height: 40px;
	width:40px;
	margin-left:0px;
	
}

#title
{
	
	
	float:left;
	 width: 60%; 
	 height: 0px;
	/* height: 40px; */
	 /* color: white; */
	 color: black;
	 margin-left:40px;
	font-size: 30px;
	/* background-color:#00CCFF; */
	background-image: url('../images/topbanner_bg.jpg');
}



#rightside
{
	/* height: 40px; */
	height: 0px;
	width:20%;
	float:right;
	/* background-color:black; */
	/* background-color:#00CCFF; */
	background-image: url("../images/topbanner_bg.jpg");
	color: white;
	/* //margin-top: -55px;
	/* //margin-left: 900px; */
*/
} 




#form
{
	height: auto;
	 width:70%;
	 margin-top: 10px;
	  padding:20px; 
	  margin-left:15%; 
	  background-color: white;
}




html { 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:green;
  font-size:30px;
}

@media (max-width: 480px){
  html {
  
  font-size:20px;
    
  }
  #header
{
	font-size:20px;
	
	/* background-color: green; */
  }
  
}

@media (max-width: 600px){
  html {
  
  font-size:25px;
    background-color: white;
  }
   #header
{
	
/* 	background-color: green;
	color:red; */
  }
  
  #rightside
  {
  font-size:14px;
  }
  #title
  {
  
  	font-size:20px;
  }
}

@media (max-height: 600px){
  html {
  color:black;
  font-size:25px;
    
  }
}

label.error {
    color: red;
    font-size: x-small;
    margin-top: -3px;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 4px;
}
.required {
    color: rgb(255, 0, 0);
    padding-left: 2px;
}

form {
	margin: 0 0 5px;
}

div {
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

table td {
	vertical-align: top;
}


fieldset {
    margin: 0 auto;
    width: 100%;
}