#menu {
  width: 100%;
  height: 20px;
  clear: both;
  margin:0; float:left;
}
 
ul#nav {
  float: left;
  width: 100%;
  margin: -20px 0 0 0;
  list-style: none;
  background:none;
  border-top:1px solid #ea8000;
}
 
ul#nav li {
  display: inline;
}
 
ul#nav li a {
  float: left;
  font-size:12px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  margin: 0;
  background: none;  
  padding:0 2%;
  border-right:1px solid #ea8000;
}
 
/* APPLIES THE ACTIVE STATE */
ul#nav .current a, ul#nav li:hover > a  {
  color: #00f;
  background: -moz-linear-gradient(#ea8000, #f1e026);
  background: -ms-linear-gradient(#ea8000, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea8000), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#ea8000, #f1e026);  
  background: -o-linear-gradient(#ea8000, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea8000', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea8000', endColorstr='#f1e026')";
  background: linear-gradient(#ea8000, #f1e026);
}

ul#nav .current a, ul#nav li.active > a  {
  color: #00f;
  background: -moz-linear-gradient(#f2f9a2, #f1e026);
  background: -ms-linear-gradient(#f2f9a2, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9a2), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#f2f9a2, #f1e026);  
  background: -o-linear-gradient(#f2f9a2, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026')";
  background: linear-gradient(#f2f9a2, #f1e026);
}
 
/* THE SUBMENU LIST HIDDEN BY DEFAULT */
ul#nav  ul {
  display: none;
  border-bottom:1px solid #ea8000;
}
 
/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#nav li:hover > ul {
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  margin: 20px 0 0 0;
  background: -moz-linear-gradient(#f2f9a2, #f1e026);
  background: -ms-linear-gradient(#f2f9a2, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9a2), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#f2f9a2, #f1e026);  
  background: -o-linear-gradient(#f2f9a2, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026')";
  background: linear-gradient(#f2f9a2, #f1e026);
}

ul#nav li.active > ul {
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  margin: 20px 0 0 0;
  background: -moz-linear-gradient(#f2f9a2, #f1e026);
  background: -ms-linear-gradient(#f2f9a2, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9a2), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#f2f9a2, #f1e026);  
  background: -o-linear-gradient(#f2f9a2, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026')";
  background: linear-gradient(#f2f9a2, #f1e026);
}
 
ul#nav li:hover > ul li a {
  float: left;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  line-height: 20px;
  color: #190000;
  text-decoration: none;
  margin: 0;
  padding: 0 1%;
  background: -moz-linear-gradient(#f2f9a2, #f1e026);
  background: -ms-linear-gradient(#f2f9a2, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9a2), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#f2f9a2, #f1e026);  
  background: -o-linear-gradient(#f2f9a2, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026')";
  background: linear-gradient(#f2f9a2, #f1e026);
}

ul#nav li.active > ul li a {
  float: left;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  line-height: 20px;
  color: #190000;
  text-decoration: none;
  margin: 0;
  padding: 0 1%;
  background: -moz-linear-gradient(#f2f9a2, #f1e026);
  background: -ms-linear-gradient(#f2f9a2, #f1e026); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f9a2), color-stop(100%, #f1e026));
  background: -webkit-linear-gradient(#f2f9a2, #f1e026);  
  background: -o-linear-gradient(#f2f9a2, #f1e026);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9a2', endColorstr='#f1e026')";
  background: linear-gradient(#f2f9a2, #f1e026);
}
 
ul#nav li:hover > ul li a:hover {
  color: #cc4466;
  text-decoration: none;
}