/* Pagination
---------------------------------------- */
.pagingItem {
	color: #666;
	font-size:18px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
}

.pagingItemCurrent {
	font-size:18px;
	color: #FFF;
	background-color: #666;
	border: #444;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.pagingHref {
	font-size:14px;
	color: #666;
}

.pagingDots {
	font-weight: normal;
}

.pagination span a:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.pagination img {
	vertical-align: middle;
}