@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	overflow-x:hidden;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6,p,b,a,li,ul,ol,i,address,article,aside,blackquote,caption,em,strong,dfn,code,samp,kbd,var,cite,dl,dt,dd,label,legend,figcaption,footer,header,hgroup,mark,menu,optgroup,option,pre,q,s,small,sub,sup,time,wbr,table,tr,td,th,tt{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

table
{
	margin: 0 auto;
}

hr {
  height: 1px;
  margin: 10px 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #ea8000), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #ea8000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #ea8000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #ea8000, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #ea8000, rgba(0, 0, 0, 0));
  border: 0;
}

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"]  ,input[type="range"],input[type="date"],input[type="color"],select,datalist{
	background: rgba(250,250,250,0.99);
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	display: block;
	color: #222;
	float:left;
	height:22px; width:150px;
	border:1px solid #ea8000;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
}

textarea
{
	background: rgba(250,250,250,0.99);
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	display: block;
	color: #222;
	float:left;
	/* margin:5px 10px; */
	height:60px; width:150px;
	border:1px solid #ea8000;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	resize:none;
}

input[type="checkbox"], input[type="radio"]
{
	height:15px; width:15px; float:left; margin:5px 10px; cursor:pointer;
}

/* select,datalist
{
	background: rgba(250,250,250,0.99);
	min-height: 22px; width:150px; float:left; margin:5px 10px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	display: block;border:1px solid #ea8000;
	float:left;
} */

input[type="image"],input[type="video"]
{
	width:100px; height:100px;
	border:1px solid #ea8000;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	float:left;
	margin:5px 10px;
}

.yellow{
	margin:0;
}

.yellow fieldset{
	width:70%;
	margin:2px auto;
	border:1px solid #ea8000;
	border-radius:5px;
}

.yellow sup{
	color: #F00;
	padding-left: 10px;
	vertical-align: top;
	position: relative;
	top: -0.2em;
	font-size: 0.9em;
	font-weight: bold;
}

fieldset.center	{
	width:80%;
	margin:2px auto;
	border:1px solid #ea8000;
	border-radius:5px;
}

fieldset.left{
	width:80%;
	margin:2px auto;
	border:1px solid #ea8000;
	border-radius:5px;
	float:left;
}

fieldset.right{
	width:80%;
	margin:2px auto;
	border:1px solid #ea8000;
	border-radius:5px;
	float:right;
}

fieldset.bottom{
	width:80%;
	margin:0 auto 30px auto;
	border:1px solid #ea8000;
	border-radius:5px;
}

.yellow legend{
	margin:0;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#ea8000;
	font-weight:1000;
}

.yellow label
{
	line-height:22px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	display: block;
	color: #111;
	float:left;
}

.yellow input[type="submit"], input[type="button"], input[type="file"], input[type="reset"]{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 14px;
	display: block;
	color: #444;
	background: -moz-linear-gradient(#f2f9a2, #ea8000);
	background: -ms-linear-gradient(#f2f9a2, #ea8000); 
	background: -webkit-linear-gradient(#f2f9a2, #ea8000);  
	background: -o-linear-gradient(#f2f9a2, #ea8000);
	background: linear-gradient(#f2f9a2, #ea8000);
	height:22px; min-width:70px;
	border:none;
	float:left;
	margin:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	cursor:pointer;
}
.yellow input[type="submit"]:hover, input[type="button"]:hover, input[type="file"], input[type="reset"]:hover {
	background: -moz-linear-gradient(#ea8000, #f2f9a2);
	background: -ms-linear-gradient(#ea8000, #f1e026); 
	background: -webkit-linear-gradient(#ea8000, #f1e026);  
	background: -o-linear-gradient(#ea8000, #f1e026);
	background: linear-gradient(#ea8000, #f1e026);
	color: #111;
}